aiohttp==3.8.1
aiohttp-retry==2.4.6
aiosignal==1.2.0
appdirs==1.4.4
async-timeout==4.0.2
asyncssh==2.10.0
atpublic==3.0.1
attrs==21.4.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
cryptography==36.0.2
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.7.0
dpath==2.0.6
dulwich==0.20.35
dvc==2.10.1
dvc-render==0.0.4
flatten-dict==0.4.2
flufl.lock==7.0
frozenlist==1.3.0
fsspec==2022.3.0
ftfy==6.1.1
funcy==1.17
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.7.1
google-api-python-client==2.43.0
google-auth==2.6.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.0
grandalf==0.6
httplib2==0.20.4
idna==3.3
importlib-resources==5.6.0
mailchecker==4.1.14
multidict==6.0.2
nanotime==0.5.2
networkx==2.7.1
oauth2client==4.1.3
packaging==21.3
pathspec==0.9.0
phonenumbers==8.12.46
protobuf==3.20.0
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydot==1.4.2
PyDrive2==1.10.0
pygit2==1.9.1
Pygments==2.11.2
pygtrie==2.4.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
python-benedict==0.25.0
python-dateutil==2.8.2
python-fsutil==0.6.0
python-slugify==6.1.1
PyYAML==6.0
requests==2.27.1
rich==12.2.0
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scmrepo==0.0.16
shortuuid==1.0.8
shtab==1.5.3
six==1.16.0
smmap==5.0.0
tabulate==0.8.9
text-unidecode==1.3
toml==0.10.2
tqdm==4.64.0
typing-extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.9
voluptuous==0.13.0
wcwidth==0.2.5
xmltodict==0.12.0
yarl==1.7.2
zc.lockfile==2.0
zipp==3.8.0
